@import url('https://fonts.googleapis.com/css?family=Poppins'); 

:root {
  --font-size: 16px;
  --font-family: 'Poppins';
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --primary-color-red: hsl(0, 100%, 74%);
  --primary-color-green: hsl(154, 59%, 51%);
  --accent-color-blue: hsl(248, 32%, 49%);
  --neutral-color-dark-blue: hsl(249, 10%, 26%);
  --netural-color-grayish-blue: hsl(246, 25%, 77%);
}

html,body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background-color: var(--primary-color-red);
}

body, input, button {
  font-family: var(--font-family);
  font-size: 16px;
}

.error {
  font-size: 12px;
  font-family: var(--font-family);
  color: var(--primary-color-red);
  display: block;
  text-align: end;
  padding: 0 15px;
  margin-top: -10px;
  margin-bottom: 15px;
  font-style: italic;
}

.signup-form-title {
  font-size: 41px;
  line-height: 48px;
  font-weight: 700;
}

.signup-form-subtitle {
  font-size: 16px;
  padding-bottom: 30px;
  color: hsl(246deg 22.9% 93.04%);
}

.signup-form-component {
  background-image: url('./bg-image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 95px;
  gap: 58px;
  margin: 50px;
}

.signup-form-content {
  width: 50%;
  padding: 112px 0;
}

.signup-form-offer-mobile {
 display: none;
}

.signup-form-offer-desktop {
  display: block;
  background: var(--accent-color-blue);
  border-radius: 5px;
  box-shadow: 2px 10px 5px #04040433;
  padding: 16px 46px;
  font-size: 14px;
  margin-bottom: 20px;
 }

.signup-form {
  background: white;
  border-radius: 6px; 
  padding: 10px;
}

.signup-form input {
    width: 85%;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    border: 1px solid var(--netural-color-grayish-blue);
    border-radius: 5px;
    padding: 12px 11px;
    margin: 0 auto;
    display: block;
}

.signup-form input:focus {
  border: 1px solid black;
  outline: none;
}

.signup-form-button {
  display: block;
  margin: 0 auto;
  background: var(--primary-color-green);
  color: white;
  border: 1px solid var(--primary-color-green);
  border-radius: 5px;
  padding: 15px 54px;
  width: 93%;
  box-shadow: 1px 2px 3px hsl(154deg 59% 51% / 91%);
}

.signup-form-button:active {
  background: hsl(154deg 59% 51% / 53%);
  border: 1px solid hsl(154deg 59% 51% / 53%);
  box-shadow: 1px 2px 3px hsl(154deg 59% 51% / 91%);
}

.signup-form-footer {
  color: var(--netural-color-grayish-blue);
  text-align: center;
  font-size: 10px;
  padding: 0;
}

@media(max-width: 767px){
  .container {
    /* width: 325px; */
    padding: 0;
  }

  .signup-form-title {
    font-size: 22px;
    line-height: 30px;
    padding: 0 25px;
  }

  .signup-form-subtitle {
    font-size: 13px;
  }
  .signup-form-content {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .signup-form-component {
    display: block;
    gap: 0px;
  }

  .signup-form-offer-mobile {
    display: block;
    background: var(--accent-color-blue);
    border-radius: 5px;
    box-shadow: 2px 10px 5px #04040433;
    padding: 16px 46px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .signup-form-offer-desktop {
    display: none;
   }

 /* .signup-form {
     width: 305px; 
  } */

  .signup-form-button {
    width: 95%;
  }

  .signup-form-footer {
    padding: 10px 38px;
  }
}
